<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en">
	<head>
		<title>JPlop</title>
		<link rel="stylesheet" type="text/css" href="styles/common.css"/>
	</head>
	<body>
		<div id="header" wicket:id="header"/>
		
		<h2>Nouveau compte</h2>
		<form wicket:id="register">
			<div>
				<label for="login">Pseudo</label> : <input type="text" id="login" wicket:id="login" value=""/>
				<br/>
				<label for="password">Mot de passe</label> : <input type="password" id="password" wicket:id="password" value=""/>
				<br/>
				<label for="confirm">Confirmation</label> : <input type="password" id="confirm" wicket:id="confirm" value=""/>
				<br/>
				<input type="submit"/>
			</div>
		</form>
		
		<div id="footer" wicket:id="footer"/>
	</body>
</html>