<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en">
	<body>
		<wicket:panel>
			<h1>
				<span wicket:id="name"/> - <span wicket:id="title"/>
			</h1>
			<div class="links">
				<a wicket:id="board"><span wicket:id="board-label">Board</span></a>
				::
				<a wicket:id="config"><span wicket:id="config-label">Clients configuration</span></a>
				::
				<wicket:enclosure child="signin">
					<a wicket:id="signup"><span wicket:id="signup-label">Create my account</span></a>
					::
					<a wicket:id="signin"><span wicket:id="signin-label">Sign in</span></a>
				</wicket:enclosure>
				<wicket:enclosure child="signout">
					<a wicket:id="account"><span wicket:id="account-label">My account</span></a>
					::
					<a wicket:id="signout"><span wicket:id="signout-label">Sign out</span></a>
				</wicket:enclosure>
			</div>
		</wicket:panel>
	</body>
</html>