/***** The whole page *****/
BODY {
	margin: 0;
	text-align: center;
}


/***** The title *****/
#header {
	background-color: #ccccff;
	border-bottom: 1px solid #000099;
}

#header H1 {
	text-align: center;
	margin: 0;}

#header #site {
	font-size: small;
	font-style: italic;
	text-align: right;
}

/***** The list of posts *****/
#board {
	border: 1px solid black;
	background-color: #ffffee;
	margin: 1em;
	padding: 0.2em;
}


/***** A post *****/
.post {
	list-style-type: none;
	text-align: left;
}

.post:hover {
	background-color: #eeeeff;
}

.clock {
	color: #009900;
	background-color: transparent;
}

.login {
	color: #990000;
	background-color: transparent;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.message {
	color: #333333;
	background-color: transparent;
}


/***** The message form *****/
#postForm {
	text-align: center;
}

#message {
	width: 70%;
}


/***** The footer *****/
HR {
	width: 80%;
}

#footer {
	font-size: small;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}