/***** The whole page *****/
BODY {
	margin: 0;
	text-align: center;
}


/***** The title *****/
#header {
	background-color: #ccccff;
	border-bottom: 1px solid #000099;
}

#header H1 {
	text-align: center;
	margin: 0;
}


/***** The footer *****/
HR {
	width: 80%;
}

#footer {
	font-size: small;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
