@import url('common.css');

/***** The header *****/
#header #site {
	font-size: small;
	font-style: italic;
	text-align: right;
}


/***** The list of posts *****/
#board {
	border: 1px solid black;
	background-color: #ffffee;
	margin: 1em;
	padding: 0.2em;
}


/***** A post *****/
.post {
	list-style-type: none;
	display: table-row;
	text-align: left;
}

.post.highlighted {
	background-color: #ddddff;

}
	
.clock {
	color: #009900;
	background-color: transparent;
	display: table-cell;
}

.ref {
	color: #33cc33;
	background-color: transparent;
}

.ref.highlighted {
	background-color: #ddddff;
}

.login {
	color: #990000;
	background-color: transparent;
	padding-left: 0.2em;
	padding-right: 0.2em;
	display: table-cell;
}

.message {
	color: #333333;
	background-color: transparent;
	display: table-cell;
}


/***** The message form *****/
#postForm {
	text-align: center;
}

#message {
	width: 70%;
}
