@import url('common.css');

/***** The configuration *****/
.config {
	margin-left: 15%;
	width: 70%;
	margin-right: 15%;
}

.config P {
	text-align: justify;
}

.config .cc-config {
	text-align: left;
	list-style-type: none;
	display: table;
	font-family: monospace;
	color: #006600;
	margin-left: 3em;
	border: 1px dotted #006600;
	padding: 0.4em;
	background-color: #eeeeee;
}
