<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en">
	<head>
		<title>JPlop</title>
		<link rel="stylesheet" type="text/css" href="styles/common.css"/>
		<script type="text/javascript">
			var s_time = 0;
			function countdown() {
				document.getElementById("timer").value = s_time;
				s_time = s_time - 1;
				if (s_time >= 0)
					var t = setTimeout("countdown()", 1000);
				else {
					document.location = "/jplop/";
				}
			}
			function startCountdown(p_time) {
				s_time = p_time;
				countdown();
			}
		</script>
	</head>
	<body>
		<div id="header" wicket:id="header"/>
		
		<div class="message">You are now logged out. You will be redirected in <form><input type="text" id="timer"/></form> seconds.</div>
		<script type="text/javascript">startCountdown(3);</script>
		
		<div id="footer" wicket:id="footer"/>
	</body>
</html>