<?xml version="1.0" encoding="UTF-8"?>
<web-app id="JPlop" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>JPlop board</display-name>

	<!-- Wicket configuration -->
	<context-param>
		<param-name>configuration</param-name>
		<param-value>development</param-value>
	</context-param>

	<filter>
		<filter-name>WebApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>tifauv.jplop.web.JPlopApplication</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>WebApplication</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- EJB references -->
	<ejb-local-ref>
        <ejb-ref-name>ejb/stateless/Account</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>tifauv.jplop.ejb.account.AccountLocal</local>
    </ejb-local-ref>
	<ejb-local-ref>
        <ejb-ref-name>ejb/stateless/Role</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>tifauv.jplop.ejb.role.RoleLocal</local>
    </ejb-local-ref>
	<ejb-local-ref>
        <ejb-ref-name>ejb/stateless/History</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>tifauv.jplop.ejb.history.HistoryLocal</local>
    </ejb-local-ref>

</web-app>