<?xml version="1.0" encoding="UTF-8"?>
<web-app id="JBoard" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	JBoard</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		BackendServlet</display-name>
		<servlet-name>BackendServlet</servlet-name>
		<servlet-class>
		tifauv.jboard.board.BackendServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PostServlet</display-name>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>
		tifauv.jboard.board.PostServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackendServlet</servlet-name>
		<url-pattern>/backend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
