/***** A post *****/
.post {
	list-style-type: none;
	display: table-row;
	text-align: left;
}

.post.highlighted {
	background-color: #0c3762;
}
	
.clock {
	color: #87dc1e;
	background-color: transparent;
	display: table-cell;
	font-size: small;
	font-weight: bold;
}

.ref {
	font-size: small;
	font-weight: bold;
	color: #87dc1e;
	background-color: transparent;
}

.ref.highlighted {
	background-color: #0c3762;
}

.login {
	color: #fb9200;
	background-color: transparent;
	padding-left: 0.2em;
	padding-right: 0.2em;
	display: table-cell;
	font-size: small;
	font-weight: bold;
}

.anonymous.login {
	font-style: oblique;
}

.message {
	display: table-cell;
	color: #ffffff;
}

.message A {
	font-weight: bold;
	color: #ffffee;
	font-size: small;
}